body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

/* Contenedor principal del menú */
.menu-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

/* Estilos para el header */
header.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2E0E46;
  border-bottom: none;
  font-family: 'Playfair Display', serif;
  margin: 0;
  position: relative; /* Asegura que el header esté en su lugar */
}

.menu-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
}

.menu-icons {
  display: flex;
  gap: 15px;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.menu-icons svg:hover {
  transform: scale(1.2);
  cursor: pointer;
  color:white;
}

.menu-icons a {
  display: inline-block;
  color: white;
  font-size: 24px;
  text-align: center;
}

/* Estilo de los iconos en el header */
.icon-tres {
  display: none; /* Oculto por defecto */
}

.icon-lupa, .icon-location {
  display: inline-block;
}

/* Para que quite la decoración del título del menú + que se agranden */
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important; /* Asegura que no haya subrayado */
}

a:hover .menu-title {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
  fill: inherit; 
}

/* Estilo del contenedor que contiene las líneas y el índice */
.menu-container {
  font-family: 'Playfair Display', serif;
  background-color: #2E0E46;
  margin: 0;
  margin-top: -10px;
  width: 100%;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

/* Líneas separadoras */
.lineas {
  background-color: #2E0E46;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.linea1 hr {
  width: 47%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #DDB440;
}

.linea2 hr {
  width: 47%;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #DDB440;
}

/* Icono de la corona */
.corona {
  text-align: center;
  align-items: center;
  fill: #2E0E46;
  color: #DDB440; 
}

/* Estilos del menú de navegación */
nav.menu-nav {
  background-color: #2E0E46;
  text-align: center;
  margin-top: 20px;
}

nav.menu-nav ul {
  list-style: none;
  padding: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 170px; 
}

nav.menu-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav.menu-nav a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  max-width: 84%;
}

.search-input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: #e0dede;
  color: #3c225d;
  outline: none;
  font-family: 'Georgia', serif;
}

.search-button {
  background-color: #2E0E46;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px; /* mismo alto que la input */
  height: 53px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #2E0E46;
}

.icon-lupa {
  width: 24px;
  height: 24px;
}

.cerrar-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 20px 40px 0 0; 
  margin-top: 40px;
}

.cerrar {
  font-size: 14px;
  font-weight: bold;
  color: #3c225d;
  text-decoration: none;
}

.cerrar:hover {
  cursor: pointer;
  color: #2E0E46;
}

/* Título */
.cuerpo2  {
  margin-bottom: 70px;
  margin-top: 70px;
}

.cuerpo2 h4 {
  margin-left: 100px;
  color: #3c225d;
  font-weight: bold;
  font-size: 18px;
}
 
/* Productos */
.proyectos {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 20px;
  flex-wrap: wrap;
}
 
.proyecto {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(134, 133, 133, 0.1);
}
 
.proyecto img {
  height: 220px;
  width: 220px;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}


/*PIE DE PAGINA*/
.footer {
  background-color: #2E0E46; 
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 100px; 
}

.footer-column {
  text-align: center;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons svg {
  width: 24px;
  height: 24px;
  fill: white;
  cursor: pointer;
}

/* Menu fijo en la parte superior en el escritorio*/
@media (min-width: 901px) {
  header.menu {
    top: 0;
    left: 0;
    width: 100%; 
  }

  .menu-container {
    display: block;
  }

  .menu-movil {
    display: none;
  }
  
}

/* Media query para móviles */
@media (max-width: 900px) {

  .icon-tres {
    display: inline-block;  
  }
  .icon-location, .menu-container {
    display: none;   
  }

  header.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .search-container {
    max-width: 80%;
  }

  .cerrar-wrapper {
    margin-top: 130px;
  }

  .cuerpo2 h4 {
    margin-left: 65px;
    font-size: 18px;
  }

   /* Estilo del menú móvil */
   .menu-movil {
    display: none; /* Ocultar el menú por defecto */
    position: fixed; /* Fijo en la pantalla */
    top: 100px; /* Aseguramos que esté justo debajo del header */
    left: 0;
    width: 100%;
    height:100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-height: 100vh; /* Evita que el menú se desborde al hacer scroll */
    overflow-y: auto; /* Si el contenido es largo, se puede hacer scroll dentro del menú */
  }

  .menu-movil ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-movil ul li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }

  .menu-movil ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
  }

  .menu-movil.show {
    display: block; 
  }

  /* Bloquear el scroll cuando el menú está abierto */
  body.no-scroll {
    overflow: hidden;
  }

  .footer {
    padding: 15px 20px;
    flex-direction: column;
    gap: 40px;
  }

}

/* Media query para pantallas muy pequeñas (por debajo de 600px) */
@media (max-width: 600px) {
  .menu-title {
    font-size: 24px; 
  }

  .search-container {
    max-width: 80%;
  }

  .cerrar-wrapper {
    margin-top: 120px;
  }

  .cuerpo2 h4 {
    margin-left: 50px;
    font-size: 18px;
  }

    /* Estilo del menú móvil */
   .menu-movil {
    display: none; /* Ocultar el menú por defecto */
    position: fixed; /* Fijo en la pantalla */
    top: 80px; /* Aseguramos que esté justo debajo del header */
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-height: 100vh; /* Evita que el menú se desborde al hacer scroll */
    overflow-y: auto; /* Si el contenido es largo, se puede hacer scroll dentro del menú */
  }

  .footer {
    padding: 15px 20px;
    flex-direction: column;
    gap: 40px;
  }

  /* Productos */
  .proyectos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
  }

  .proyecto img {
    height: 160px;
    width: 160px;
    object-fit: contain;
    display: block;
    border-radius: 8px;
    cursor: pointer;
  }
}