body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  padding: 20px;
}
.cabecera {
  background-color: #2c0d3f;
  color: white;
  padding: 15px;
  font-size: 24px;
  text-align: center;
}
.progreso {
  text-align: center;
  margin: 20px;
}
.carrito, .carrito-vacio {
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.producto {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.producto img {
  width: 100px;
}
.resumen {
  margin-top: 20px;
}
button {
  background: #2c0d3f;
  color: white;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
}
